ion-modal{
    z-index: 60011 !important;
}
.modal-card-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: none;
}
.modal-list{
    padding-bottom: 15px;
    overflow-y: scroll;
}
.modal-list:last-of-type{
    flex: 1;
}