.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  background-color: #fff;
  width: 92vw;
  height: 520px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.swipe {
  display: flex;
  justify-content: center;
}

.card-img {
  flex: 1;
  max-height: 340px;
}
